<% set_page_title 'Datasets' -%>

<h1>Datasets<%= " in category '#{h(category_name(@category))}'" if @category %><%= " tagged '#{h(@tag.name)}'" if @tag %></h1>

<ul>
  <% @datasets.each do |dataset| -%>
    <li><%= link_to h(dataset.title), dataset %></li>
  <% end -%>
</ul>

<% if admin_signed_in? -%>
  <p><%= link_to 'Add New Dataset', new_dataset_path %></p>
<% end -%>
