<% set_page_title 'Add Dataset' -%>
<h1>Add New Dataset</h1>
<% semantic_form_for @dataset, :url => datasets_path do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
<% end %>
