* { margin: 0; padding: 0; }

/* Begin YUI font reset */
body { background: #fff; color: #000; margin-bottom: 1em; font: 13px/1.231 verdana,arial,helvetica,clean,sans-serif; *font-size:small; *font:x-small; }
#body_container { font-size: 93%; line-height: 130%; }
table { font-size: inherit; font: 100%; }
pre, code, kbd, samp, tt { font-family: monospace; *font-size: 108%; line-height: 100%; }
/* End YUI font reset */

/* Global */
img { border: 0; vertical-align: middle; }
a:link, a:visited { color: #363636; border-bottom: 1px dotted #363636; text-decoration: none; font-weight: bold; }
a:hover, a:active { border-bottom-style: solid; }
a.clear:link, a.clear:visited, a.clear:hover, a.clear:active { border: 0; }
ul.as-selections a:link, ul.as-selections a:visited, ul.as-selections a:hover, ul.as-selections a:active { border: 0; }
div.clear { clear: both; }
div.page_container { width: 80%; min-width: 750px; max-width: 965px; margin: 0 auto; clear: both; }
ul, ol { list-style-position: inside; }
hr { margin: 1em 0; height: 1px; border-top: 1px solid #d9d9d9; }
p { margin-top: 0.7em; }
h1, h2, h3, h4, h5, h6 { font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif; color: #4f4f4f; margin-top: 0.8em; margin-bottom: 0.2em; }
h1 { font-size: 138.5%; font-weight: bold; }
h2 { font-size: 123.1%; font-weight: bold; }
h3 { font-size: 108%; font-weight: bold; }
h4, h5, h6 { font-size: 100%; font-weight: bold; }
#flashes { width: 60%; min-width: 500px; max-width: 600px; margin: 1em auto; clear: both; }
div.notice, div.error { padding: 7px 15px; border: 1px solid black; color: white; font-weight: bold; }
div.notice h3, div.error h3 { margin: 0 auto; margin-top: -15px; width: 75%; font-size: 123.1%; }
div.notice ul, div.error ul { width: 75%; margin: 0.5em auto; }
div.notice a, div.error a { color: white; border-color: white; }
div.notice img, div.error img { margin-right: 1em; }
div.notice { background: #06960e; }
div.error { background: #bf290b; }
div.error h3 { color: #f5d851; }
div.error ul { color: #f4e3bf; }
a.close_box { float: right; }
a.close_box img { margin-right: 0; }
form.formtastic div.as-results { margin-left: 25%; }
form.formtastic p.standalone { padding-left: 25%; margin-bottom: 1.5em; }
dl.inline dt, dl.inline dd { float: left; }
dl.inline dt { clear: left; margin-right: 1em; font-weight: bold; width: 3em; }

/* Tooltips */
.tooltip { display: none; background: transparent url(/images/black_arrow.png) no-repeat; font-size: 12px; height: 70px; width: 160px; padding: 25px; color: #fff; }
.tooltip.bottom { background-image: url(/images/black_arrow_bottom.png); padding-top: 40px; height: 55px; }

/* Datasets */
#file_upload { width: 41%; float: right; padding: 2%; margin-top: 1em; margin-bottom: 1em; margin-right: 30%; border: 1px solid #dedede; }
#file_upload p.inline-hints, #file_upload input[type="file"] { margin-bottom: 1em; }
#pending_files { list-style: disc inside; }
#pending_files input { margin: 0 0.5em 0 1em; }