<div id="disqus_thread"></div>
<script type="text/javascript">
  <% if ENV["RAILS_ENV"] != "production" %>var disqus_developer = 1;<% end %>
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://<%= Configs.disqus_shortname %>.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
