<% set_page_title 'Add Your Company' -%>

<h1>Add Your Company</h1>
<% semantic_form_for @company, :url => companies_path, :html => {:multipart => true} do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
<% end %>
