<h2>Send Unlock Code</h2>

<% semantic_form_for resource_name, resource, :url => unlock_path(resource_name) do |form| %>
  <% form.inputs do -%>
    <%= form.input :email %>
  <% end -%>
  
  <% form.buttons do -%>
    <%= form.commit_button :label => 'Send unlock code' %>
  <% end -%>
<% end %>

<%= render :partial => "shared/devise_links" %>