<% set_page_title 'Edit Application' -%>

<h1>Edit '<%=h @app.title %>'</h1>
<% semantic_form_for @app, :url => app_path(@app), :method => :put, :html => {:multipart => true} do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
<% end %>
