<% set_page_title 'Add Your App' -%>

<h1>Add Your App</h1>
<% semantic_form_for @app, :url => apps_path, :html => {:multipart => true} do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
<% end %>
